build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Template">
    <meta name="keywords" content="Template">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon-windows-144x144.png">
    <meta name="msapplication-config" content="browserconfig.xml">
    <link href="site.webmanifest" rel="manifest">
    <link href="images/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="images/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="images/favicon-ios-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="images/favicon-macos.svg" rel="mask-icon" color="#5bbad5">
    <link href="styles/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--script(src="modules/site/datapicker.js" defer)-->
    <script src="scripts/main.js" defer></script>
  </head>
  <body>
    <div class="svg-sprite" id="svg-sprite" data-path="images/sprite.svg"></div>
    <div class="modal" id="modal">
      <div class="modal__overlay"></div>
      <div class="modal__content"><a class="modal__close" href="./" data-modal="data-modal">
          <svg class="svg svg-close modal__close-icon">
            <use xlink:href="#close"></use>
          </svg></a>
        <div class="modal__tab modal-one" id="modal-one">
          <form class="form form__modal" action="">
            <h3 class="form__title">Записаться в PlayCut</h3>
            <div class="form__input">
              <input type="text" name="name" placeholder="Имя вашего ребенка" title="Укажите имя вашего ребенка" required="required"/>
            </div>
            <div class="form__input">
              <input id="mask" type="tel" name="phone" placeholder="+7 ___ __ __" title="Укажите ваш контактный телефон" required="required"/>
            </div>
            <div class="form__input">
              <input type="text" name="type" placeholder="Тип услуги"/>
            </div>
            <div class="form__input">
              <svg class="svg svg-date-icon form__date-icon">
                <use xlink:href="#date-icon"></use>
              </svg>
              <input class="datepicker-here" type="text" name="date" placeholder="Желаемая дата записи" required="required"/>
            </div>
            <div class="form__input">
              <svg class="svg svg-clock form__time-icon">
                <use xlink:href="#clock"></use>
              </svg>
              <input id="time" type="text" name="time" placeholder="Время записи" required="required"/>
            </div>
            <div class="form__textarea form__input">
              <textarea placeholder="Комментарий" name="comment"></textarea>
            </div>
            <div class="form__checkbox">
              <label>
                <input class="form__hidden-checkbox" type="checkbox"/><span class="form__checkmark"></span><span class="form__text">Подтверждаю свое согласие на обработку данных</span>
              </label>
            </div>
            <button class="btn btn__pink form-btn" type="submit" title="Записаться на сеанс">
              <svg class="svg svg-clock btn__icon">
                <use xlink:href="#clock"></use>
              </svg><span class="btn__text">Записаться</span>
            </button>
          </form>
        </div>
        <div class="modal__tab2 modal-two" id="modal-two">
          <h4 class="modal-two__title">Косоплетение</h4>
          <div class="modal-two__content">
            <div class="modal-two__img"><img src="images/card2.jpg"/></div>
            <div class="modal-two__info">
              <p>Маленькие, большие, объемные, французские, африканские — все виды плетения красивых косичек.</p>
              <p>Модный тренд — косы с канекалоном.</p><span class="modal-two__price">Цена от 400&nbsp;<span>₽</span></span>
              <button class="btn btn__pink btn__modal-one" data-modal="modal-one" type="submit" title="Записаться на сеанс">
                <svg class="svg svg-clock btn__icon">
                  <use xlink:href="#clock"></use>
                </svg><span class="btn__text">Записаться</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="burger" id="burger"><a class="burger__close" href="./" data-burger="data-burger">
        <svg class="svg svg-close burger__close-icon">
          <use xlink:href="#close"></use>
        </svg></a><a class="nav__link" href="#about-us">О нас</a><a class="nav__link" href="#catalog">Каталог</a><a class="nav__link" href="#services">Услуги</a><a class="nav__link" href="#contacts">Контакты</a><a class="nav__link" href="#stock">Акции</a>
      <button class="btn btn__transparent btn__modal-one" data-modal="modal-one" type="submit" title="Записаться на сеанс">
        <svg class="svg svg-clock btn__icon">
          <use xlink:href="#clock"></use>
        </svg><span class="btn__text">Записаться</span>
      </button>
      <div class="header-contacts__adress">
        <svg class="svg svg-location ">
          <use xlink:href="#location"></use>
        </svg><a href="#">ТЦ Флагман, 2 этаж</a>
      </div>
      <div class="header-contacts__phone burger__item">
        <svg class="svg svg-phone ">
          <use xlink:href="#phone"></use>
        </svg><a href="tel:+79127415690">+7 912 741 56 90</a>
      </div>
      <div class="header__social"><a class="header__vk" href="#">
          <svg class="svg svg-vk-icon header__vk-icon">
            <use xlink:href="#vk-icon"></use>
          </svg></a><a class="header__inst" href="#">
          <svg class="svg svg-insta-icon header__inst-icon">
            <use xlink:href="#insta-icon"></use>
          </svg></a></div>
    </div>
    <div class="site">
      <header class="header">
        <div class="container">
          <div class="header__box">
            <div class="nav"><a class="nav__link" href="#about-us" title="О нас">О нас</a><a class="nav__link" href="#catalog" title="Каталог причёсок">Каталог</a><a class="nav__link" href="#services" title="Услуги">Услуги</a><a class="nav__link" href="#contacts" title="Контакты">Контакты</a><a class="nav__link" href="#stock" title="Акции">Акции</a></div>
            <button class="btn btn__transparent btn__modal-one" data-modal="modal-one" type="submit" title="Записаться на сеанс">
              <svg class="svg svg-clock btn__icon">
                <use xlink:href="#clock"></use>
              </svg><span class="btn__text">Записаться</span>
            </button>
            <div class="header-contacts">
              <div class="header-contacts__adress">
                <svg class="svg svg-location ">
                  <use xlink:href="#location"></use>
                </svg><a href="#" title="Наш адрес">ТЦ Флагман, 2 этаж</a>
              </div>
              <div class="header-contacts__phone">
                <svg class="svg svg-phone ">
                  <use xlink:href="#phone"></use>
                </svg><a href="tel:+79127415690" title="Наш телефон">+7 912 741 56 90</a>
              </div>
              <div class="header__social"><a class="header__vk" href="#" title="Мы в контакте">
                  <svg class="svg svg-vk-icon header__vk-icon">
                    <use xlink:href="#vk-icon"></use>
                  </svg></a><a class="header__inst" href="#" title="Мы в инстаграмме">
                  <svg class="svg svg-insta-icon header__inst-icon">
                    <use xlink:href="#insta-icon"></use>
                  </svg></a></div>
            </div>
            <div class="burger-btn" id="burger-open" data-burger="data-burger">
              <div class="burger__line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="page">
        <div class="bg-circle__list">
          <div class="bg-circle__item1 bg-circle__item"></div>
          <div class="bg-circle__item2 bg-circle__item"></div>
          <div class="bg-circle__item3 bg-circle__item"></div>
          <div class="bg-circle__item4 bg-circle__item"></div>
          <div class="bg-circle__item5 bg-circle__item"></div>
        </div>
        <div class="container content-box">
          <div class="logo__box"><a class="logo" href="#">
              <svg class="svg svg-logo logo__icon">
                <use xlink:href="#logo"></use>
              </svg></a></div>
          <div class="white-box" id="about-us">
            <svg class="svg svg-star fotorama__star scale-hover">
              <use xlink:href="#star"></use>
            </svg>
            <div class="fotorama">
              <div class="fotorama__box"><img src="images/fotorama1.jpg" alt="Парикмахерская cutPlay"/><img src="images/fotorama1.jpg" alt="Парикмахерская cutPlay"/><img src="images/fotorama1.jpg" alt="Парикмахерская cutPlay"/><img src="images/fotorama1.jpg" alt="Парикмахерская cutPlay"/><img src="images/fotorama1.jpg" alt="Парикмахерская cutPlay"/></div>
              <div class="dots"></div>
            </div>
            <div class="row">
              <h2 class="col-12">Стригись, играй!</h2>
              <div class="col-md-7 col-xl-6">
                <p class="common-text">У&nbsp;нас созданы все условия для маленьких непосед. Маленького модника встречает улыбчивый персонал, в&nbsp;его индивидуальное пользование предоставляется личный автотранспорт с&nbsp;кучей кнопок и&nbsp;мигающих лампочек, заменяющий обычное парикмахерское кресло. И&nbsp;вот юный водитель уже абсолютно не&nbsp;обращает внимания на&nbsp;то, что тётя делает с&nbsp;его волосами. Оказывается, что стричься не&nbsp;только не&nbsp;страшно, но&nbsp;и&nbsp;ужасно интересно!</p>
              </div>
              <div class="col-md-5 col-xl-5 offset-xl-1">
                <div class="advantages__list">
                  <p class="advantages__item">Стрижка без слёз</p>
                  <p class="advantages__item"> Мультики и приставки</p>
                  <p class="advantages__item">Игровая комната</p>
                </div>
                <button class="btn btn__pink btn__modal-one" data-modal="modal-one" type="submit" title="Записаться на сеанс">
                  <svg class="svg svg-clock btn__icon">
                    <use xlink:href="#clock"></use>
                  </svg><span class="btn__text">Записаться</span>
                </button>
              </div>
            </div>
          </div>
          <div class="white-box" id="catalog">
            <svg class="svg svg-gamepad1 catalog__gamepad scale-hover">
              <use xlink:href="#gamepad1"></use>
            </svg>
            <div class="catalog">
              <h2>Каталог причесок</h2>
              <div class="catalog__tabs">
                <div class="catalog__btns-box">
                  <button class="catalog-btn active" data-tab="1"><span>Для мальчиков</span></button>
                  <button class="catalog-btn" data-tab="2"><span>Для девочек</span></button>
                </div>
                <div class="catalog__imgs-box active" data-tab="1">
                  <div class="catalog__card-img" style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__right-container">
                    <div class="catalog__img-row1">
                      <div class="catalog__img catalog__img_middle" data-desc="Другая стрижка" data-src="boy2.jpg" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;"></div>
                      <div class="catalog__img catalog__img_small" data-desc="Еще какая то стрижка" data-src="boy3.jpg" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;"></div>
                    </div>
                    <div class="catalog__img-row2">
                      <div class="catalog__img catalog__img_small" data-desc="Третья стрижка" data-src="boy4.jpg" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;"></div>
                      <div class="catalog__img catalog__img_middle" data-desc="Четвёртая стрижка" data-src="boy5.jpg" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;"></div>
                    </div>
                  </div>
                </div>
                <div class="catalog__imgs-box" data-tab="2">
                  <div class="catalog__card-img" style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__right-container">
                    <div class="catalog__img-row1">
                      <div class="catalog__img catalog__img_middle" data-desc="Другая стрижка" data-src="boy2.jpg" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;"></div>
                      <div class="catalog__img catalog__img_small" data-desc="Еще какая то стрижка" data-src="boy3.jpg" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;"></div>
                    </div>
                    <div class="catalog__img-row2">
                      <div class="catalog__img catalog__img_small" data-desc="Третья стрижка" data-src="boy4.jpg" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;"></div>
                      <div class="catalog__img catalog__img_middle" data-desc="Четвёртая стрижка" data-src="boy5.jpg" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__sliders-box">
                <div class="catalog-slider catalog__boys-slider">
                  <div class="catalog__card-img" style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                </div>
                <div class="catalog-slider catalog__girls-slider">
                  <div class="catalog__card-img" style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                  <div class="catalog__card-img" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;"><span class="catalog__card-desc">Модельная стрижка и выстриг</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="white-box" id="services">
            <svg class="svg svg-gamepad2 price-list__gamepad scale-hover">
              <use xlink:href="#gamepad2"></use>
            </svg>
            <svg class="svg svg-star price-list__star scale-hover">
              <use xlink:href="#star"></use>
            </svg>
            <h2>Узнать цены</h2>
            <div class="price-list">
              <div class="price-list__item">
                <p class="price-list__text">Стрижка машинков</p><span>от 290</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Модельная стрижка для мальчиков</p><span>520</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Модельная стрижка для девочек</p><span>190</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Стрижка челки</p><span>300</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Подравнивание кончиков волос</p><span>70</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Фигурный выстриг</p><span>550</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Укладка волос</p><span>850</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Праздничная прическа</p><span>400</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Плетение кочисек</p><span>250</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Глиттер тату</p><span>520</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Детский маникюр</p><span>от 520</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Детский макияж</p><span>от 290</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Мужская стрижка</p><span>900</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Женская стрижка</p><span>от 290</span>&nbsp;&#8381
              </div>
              <div class="price-list__item">
                <p class="price-list__text">Семейная стрижка</p><span>от 290</span>&nbsp;&#8381
              </div>
            </div>
            <div class="center">
              <button class="btn btn__pink btn__modal-one" data-modal="modal-one" type="submit" title="Записаться на сеанс">
                <svg class="svg svg-clock btn__icon">
                  <use xlink:href="#clock"></use>
                </svg><span class="btn__text">Записаться</span>
              </button>
            </div>
          </div>
          <div class="white-box" id="contacts">
            <svg class="svg svg-cup contacts__cup scale-hover">
              <use xlink:href="#cup"></use>
            </svg>
            <svg class="svg svg-cut contacts__cut scale-hover">
              <use xlink:href="#cut"></use>
            </svg>
            <div class="contacts">
              <div class="row">
                <h2 class="col-12">Контакты</h2>
                <div class="col-md-7">
                  <div class="map-contacts">
                    <div class="header-contacts__adress map__adress">
                      <svg class="svg svg-location ">
                        <use xlink:href="#location"></use>
                      </svg><a href="#" title="Наш адрес">ТЦ Флагман, 2 этаж</a>
                    </div>
                    <div class="header-contacts__phone map__phone">
                      <svg class="svg svg-phone ">
                        <use xlink:href="#phone"></use>
                      </svg><a href="tel:+79127415690" title="Наш телефон">+7 912 741 56 90</a>
                    </div>
                  </div>
                  <div class="map" id="map">
                    <script type="text/javascript" charset="utf-8" async="async" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f145feecbbc272bd905ad36a60be31a79974a3781fff85eaec93973b03deee9&amp;amp;width=100%25&amp;amp;&amp;amp;lang=ru_RU&amp;amp;scroll=false;autoFitToViewport='always'"></script>
                  </div>
                </div>
                <div class="col-md-5">
                  <form class="form" action="">
                    <h3 class="form__title">Записаться в PlayCut</h3>
                    <div class="form__input">
                      <input type="text" name="name" placeholder="Имя вашего ребенка" title="Укажите имя вашего ребенка" required="required"/>
                    </div>
                    <div class="form__input">
                      <input id="mask" type="tel" name="phone" placeholder="+7 ___ __ __" title="Укажите ваш контактный телефон" required="required"/>
                    </div>
                    <div class="form__input">
                      <input type="text" name="type" placeholder="Тип услуги"/>
                    </div>
                    <div class="form__input">
                      <svg class="svg svg-date-icon form__date-icon">
                        <use xlink:href="#date-icon"></use>
                      </svg>
                      <input class="datepicker-here" type="text" name="date" placeholder="Желаемая дата записи" required="required"/>
                    </div>
                    <div class="form__input">
                      <svg class="svg svg-clock form__time-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <input id="time" type="text" name="time" placeholder="Время записи" required="required"/>
                    </div>
                    <div class="form__textarea form__input">
                      <textarea placeholder="Комментарий" name="comment"></textarea>
                    </div>
                    <div class="form__checkbox">
                      <label>
                        <input class="form__hidden-checkbox" type="checkbox"/><span class="form__checkmark"></span><span class="form__text">Подтверждаю свое согласие на обработку данных</span>
                      </label>
                    </div>
                    <button class="btn btn__pink form-btn" type="submit" title="Записаться на сеанс">
                      <svg class="svg svg-clock btn__icon">
                        <use xlink:href="#clock"></use>
                      </svg><span class="btn__text">Записаться</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="cards cards__margin-top" id="stock">
            <div class="cards__box">
              <div class="card" data-modal="modal-two">
                <div class="card__img"><img src="images/card1.jpg" alt="Скидка на первую стрижку"/></div>
                <div class="card__footer">
                  <h4 class="card__title">Скидка на первую стрижку</h4>
                  <p class="card__text">Моментальная скидка сразу при первом приеме</p>
                </div>
              </div>
              <div class="card" data-modal="modal-two">
                <div class="card__img"><img src="images/card2.jpg" alt="Косоплетение"/></div>
                <div class="card__footer">
                  <h4 class="card__title">Косоплетение</h4>
                  <p class="card__text">Маленькие, большие, объемные, французские, африканские</p>
                </div>
              </div>
              <div class="card" data-modal="modal-two">
                <div class="card__img"><img src="images/card3.jpg" alt="Прокол ушек"/></div>
                <div class="card__footer">
                  <h4 class="card__title">Прокол ушек</h4>
                  <p class="card__text">Прокол ушек пистолетом без боли</p>
                </div>
              </div>
            </div>
          </div>
          <div class="discounts">
            <div class="discounts__img"><img src="images/discounts.jpg"/></div>
            <div class="discounts__info">
              <h4 class="card__title">Сеиейная скидка</h4>
              <div class="discounts__list">
                <p class="discounts__item">Папа + ребенок = 900 рублей</p>
                <p class="discounts__item">Мама + ребенок = 1000* рублей</p>
                <p class="discounts__item">Папа + 2 ребенка = 1300 рублей</p>
                <p class="discounts__item">Мама + 2 ребенка = 1400* рублей</p>
                <p class="discounts__item">Мама + папа+ребенок = 1400* рублей</p>
                <p class="discounts__item">Мама + папа + 2 ребенка = 1800* рублей</p>
              </div><span class="discounts__footer">если у мамы длинные волосы плюс 100 рублей к стоимости.</span>
            </div>
          </div>
          <div class="cards">
            <div class="cards__box">
              <div class="card" data-modal="modal-two">
                <div class="card__img"><img src="images/card4.png" alt="Скидка на первую стрижку"/></div>
                <div class="card__footer">
                  <h4 class="card__title">Скидка на первую стрижку</h4>
                  <p class="card__text">Моментальная скидка сразу при первом приеме</p>
                </div>
              </div>
              <div class="card" data-modal="modal-two">
                <div class="card__img"><img src="images/card5.png" alt="Косоплетение"/></div>
                <div class="card__footer">
                  <h4 class="card__title">Косоплетение</h4>
                  <p class="card__text">Маленькие, большие, объемные, французские, африканские</p>
                </div>
              </div>
              <div class="card" data-modal="modal-two">
                <div class="card__img"><img src="images/card6.png" alt="Прокол ушек"/></div>
                <div class="card__footer">
                  <h4 class="card__title">Прокол ушек</h4>
                  <p class="card__text">Прокол ушек пистолетом без боли</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__box"><a class="logo footer__logo" href="#">
              <svg class="svg svg-logo logo__icon">
                <use xlink:href="#logo"></use>
              </svg></a>
            <div class="nav footer__nav"><a class="nav__link" href="#about-us" title="О нас">О нас</a><a class="nav__link" href="#catalog" title="Каталог причёсок">Каталог</a><a class="nav__link" href="#services" title="Услуги">Услуги</a><a class="nav__link" href="#contacts" title="Контакты">Контакты</a><a class="nav__link" href="#stock" title="Акции">Акции</a></div>
            <div class="footer__contacts">
              <div class="header-contacts__adress">
                <svg class="svg svg-location ">
                  <use xlink:href="#location"></use>
                </svg><a href="#" title="Наш адрес">ТЦ Флагман, 2 этаж</a>
              </div>
              <div class="header-contacts__phone footer__phone">
                <svg class="svg svg-phone ">
                  <use xlink:href="#phone"></use>
                </svg><a href="tel:+79127415690" title="Наш телефон">+7 912 741 56 90</a>
              </div>
            </div>
            <div class="header__social footer__social"><a class="header__vk" href="#" title="Мы в контакте">
                <svg class="svg svg-vk-icon header__vk-icon">
                  <use xlink:href="#vk-icon"></use>
                </svg></a><a class="header__inst" href="#" title="Мы в инстагрмме">
                <svg class="svg svg-insta-icon header__inst-icon">
                  <use xlink:href="#insta-icon"></use>
                </svg></a></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

src/pages/index.pug
extends ../modules/layout/layout.pug

block page
	.page
		.bg-circle__list
			.bg-circle__item1.bg-circle__item
			.bg-circle__item2.bg-circle__item
			.bg-circle__item3.bg-circle__item
			.bg-circle__item4.bg-circle__item
			.bg-circle__item5.bg-circle__item
		.container.content-box
			.logo__box
				a(href="#").logo
					+icon('logo', 'logo__icon')
			+cut_and_play

			.white-box#catalog
				+icon('gamepad1', 'catalog__gamepad scale-hover')
				.catalog
					h2 Каталог причесок
					.catalog__tabs
						.catalog__btns-box
							button.catalog-btn.active(data-tab="1")
								span Для мальчиков
							button.catalog-btn(data-tab="2")
								span Для девочек
						.catalog__imgs-box.active(data-tab="1")
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__right-container
								.catalog__img-row1
									.catalog__img.catalog__img_middle(data-desc="Другая стрижка" data-src="boy2.jpg" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_small(data-desc="Еще какая то стрижка" data-src="boy3.jpg" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								.catalog__img-row2
									.catalog__img.catalog__img_small(data-desc="Третья стрижка" data-src="boy4.jpg" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_middle(data-desc="Четвёртая стрижка" data-src="boy5.jpg" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
						.catalog__imgs-box(data-tab="2")
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")

								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__right-container
								.catalog__img-row1
									.catalog__img.catalog__img_middle(data-desc="Другая стрижка" data-src="boy2.jpg" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_small(data-desc="Еще какая то стрижка" data-src="boy3.jpg" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								.catalog__img-row2
									.catalog__img.catalog__img_small(data-desc="Третья стрижка" data-src="boy4.jpg" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_middle(data-desc="Четвёртая стрижка" data-src="boy5.jpg" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
					.catalog__sliders-box
						.catalog-slider.catalog__boys-slider
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
						.catalog-slider.catalog__girls-slider
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг

			.white-box#services
				+icon('gamepad2', 'price-list__gamepad scale-hover')
				+icon('star', 'price-list__star scale-hover')
				h2 Узнать цены
				.price-list
					.price-list__item
						p.price-list__text Стрижка машинков
						span от 290
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Модельная стрижка для мальчиков
						span 520
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Модельная стрижка для девочек
						span 190
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Стрижка челки
						span 300
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Подравнивание кончиков волос
						span 70
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Фигурный выстриг
						span 550
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Укладка волос
						span 850
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Праздничная прическа
						span 400
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Плетение кочисек
						span 250
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Глиттер тату
						span 520
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Детский маникюр
						span от 520
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Детский макияж
						span от 290
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Мужская стрижка
						span 900
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Женская стрижка
						span от 290
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Семейная стрижка
						span от 290
						| &nbsp;&#8381
				.center
					+btn('pink', 'btn__modal-one', 'modal-one')

			.white-box#contacts
				+icon('cup', 'contacts__cup scale-hover')
				+icon('cut', 'contacts__cut scale-hover')
				.contacts
					.row
						h2.col-12 Контакты
						.col-md-7
							.map-contacts
								.header-contacts__adress.map__adress
									+icon('location', '')
									a(href="#" title="Наш адрес") ТЦ Флагман, 2 этаж
								.header-contacts__phone.map__phone
									+icon('phone', '')
									a(href="tel:+79127415690" title="Наш телефон") +7 912 741 56 90
							.map#map
								script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f145feecbbc272bd905ad36a60be31a79974a3781fff85eaec93973b03deee9&amp;width=100%25&amp;&amp;lang=ru_RU&amp;scroll=false;autoFitToViewport='always'")
						.col-md-5
							form.form(action="")
								h3.form__title Записаться в PlayCut
								.form__input
									input(type="text" name="name" placeholder="Имя вашего ребенка" title="Укажите имя вашего ребенка" required)
								.form__input
									input#mask(type="tel" name="phone" placeholder="+7 ___ __ __" title="Укажите ваш контактный телефон" required)
								.form__input
									input(type="text" name="type" placeholder="Тип услуги" )
								.form__input
									+icon('date-icon', 'form__date-icon')
									input.datepicker-here(type="text" name="date" placeholder="Желаемая дата записи" required)
								.form__input
									+icon('clock', 'form__time-icon')
									input#time(type="text" name="time" placeholder="Время записи" required)
								.form__textarea.form__input
									textarea(placeholder='Комментарий' name='comment')
								.form__checkbox
									label
										input.form__hidden-checkbox(type="checkbox")
										span.form__checkmark
										span.form__text Подтверждаю свое согласие на обработку данных
								+btn('pink', 'form-btn')
			.cards.cards__margin-top#stock
				.cards__box
					+card('card1.jpg', 'Скидка на первую стрижку', 'Моментальная скидка сразу при первом приеме')
					+card('card2.jpg','Косоплетение', 'Маленькие, большие, объемные, французские, африканские')
					+card('card3.jpg', 'Прокол ушек', 'Прокол ушек пистолетом без боли')

			.discounts
				.discounts__img
					img(src="images/discounts.jpg")
				.discounts__info
					h4.card__title Сеиейная скидка
					.discounts__list
						p.discounts__item Папа + ребенок = 900 рублей
						p.discounts__item Мама + ребенок = 1000* рублей
						p.discounts__item Папа + 2 ребенка = 1300 рублей
						p.discounts__item Мама + 2 ребенка = 1400* рублей
						p.discounts__item Мама + папа+ребенок = 1400* рублей
						p.discounts__item Мама + папа + 2 ребенка = 1800* рублей
					span.discounts__footer если у мамы длинные волосы плюс 100 рублей к стоимости.

			.cards
				.cards__box
					+card('card4.png', 'Скидка на первую стрижку', 'Моментальная скидка сразу при первом приеме')
					+card('card5.png','Косоплетение', 'Маленькие, большие, объемные, французские, африканские')
					+card('card6.png', 'Прокол ушек', 'Прокол ушек пистолетом без боли')
